&nbsp;


@{
    ViewBag.Title = "Home Page";
}

    <head>
        <link href="~/StyleSheet.css" rel="stylesheet" />
        <!--<link href="~/Views/estilos/StyleSheet.css" rel="stylesheet" />-->
    </head>

    <body class="fondo">





        <div class="jumbotron">
            <h1>TU HUELLA DE CARBONO</h1>
            <p class="lead">Es un indicador ambiental que pretende reflejar la totalidad de gases de efecto invernadero (GEI) emitidos por efecto directo o indirecto de un individuo, organización, evento o producto.</p>
            <button class="boton_personalizado"> @Html.ActionLink("Calcular", "Index", "Calculo")</button>
        </div>


        <img src="~/imagenes/JungleLowpoly.png" />

        <input type="text" id="male" name="gender" value="male">
        <input type="range" id="male" name="gender" value="male">
        <input type="button" id="male" name="gender" value="male">
        <input type="checkbox" id="male" name="gender" value="male">
        <input type="checkbox" id="male" name="gender" value="male">
        <input type="checkbox" id="male" name="gender" value="male">

        <div>
            <h1 class="boton_personalizado">Tu huella, Tu impacto</h1>
        </div>

    </body>









